<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Погодное Приложение</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-danger">
<div class="bg-warning  d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <span class="bg-primary border rounded-3 fs-4">Oleg_2022</span>
  </a>

  <nav class="bg-primary border rounded-3 d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная страница</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Информация</a>
  </nav>
</div>
<div class="bg-primary">


  <div class="container-fluid">
    <div class="col-md-12">
      <h1>Факты о погоде</h1>
      {% for el in tasks %}
      <div class="col-10 offset-1 ">
        <div class="alert alert-warning mt-2 ">
          <h2>{{el.title}}</h2>
          <p>{{el.task}}</p>


        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
</div >

</body>
</html>
